.header,
.navig,
.nav,
.leng {
  display: flex;
  flex-direction: row;
}

.header {
  width: 100%;
  padding-top: 20px;
  justify-content: space-between;
  margin: auto;
  position: fixed;
  z-index: 2;
  background: linear-gradient(0deg, transparent 0%, black 90%);
}

.logo {
  position: relative;
  left: 1.4%;
}

.navig {
  width: 37.5%;
  position: relative;
  right: 1.4%;
}

.nav {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav__point {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.leng {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.lengEn {
  color: #d6ad33;
}
